<!DOCTYPE html>
<html>
  <head>
    <title>Baehance</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
    <script type="text/javascript">
      window.cloudinary_options = {
        cloud_name: '<%= ENV['CLOUD_NAME'] %>',
        upload_preset: '<%= ENV['UPLOAD_PRESET']%>'
      }
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
